.pageButton {
	min-width: 6rem;
	text-align: center;
	background-color: rgba($button-color, 0.8);
	padding: 2px;
	display: inline-block;
	border-radius: 2px;
	color: #FFF;
	padding: 10px;

	&:visited {
		color: #FFF;
	}

	&:hover {
		background-color: rgba($button-color, 1);
		text-decoration: none;
	}

	&.disabled {
		background-color: rgba($button-color, .3);
		pointer-events: none;
	}
}