$anchor-color: rgb(64, 120, 192);
$secondary-font-color: #686868;
$button-color: rgb(52, 77, 107);
$primary-border-color: #CCC;
$large-spacer: 2.5rem;
$small-spacer: 2rem;
$x-small-spacer: 0.75rem;
$open-issue-color: #099609;
$closed-issue-color: #D02222;
$larger-font: 1.5rem;
$normal-font: 1.0rem;
$smaller-font: 0.8rem;
$x-smaller-font: 0.75rem;
$summary-background: #FBFBFB;
$darker-summary-background: #F5F5F5;
$shadow: #888;
